@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: white;
}

.card {
    height: 22em;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.8rem;
}

